<!DOCTYPE html>
<html>
  <head>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.3.1/semantic.min.css">
          <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.3.1/semantic.min.js"></script>
       <script src="/sema.js"></script>
       
       
  </head>
<body>  
  
  <div class="ui fluid  container">
   
   <div class="ui segments">  
   
  <div class="ui  padded center aligned inverted segment">
      <h1 class="ui center aligned icon teal inverted header">
      <i class="wifi icon"></i>
          <div class="ui teal inverted huge header">Home Assistant</div>
        </h1>
        
       
      
  </div>
      <div class=" ui center aligned inverted segment">
      <div class="ui teal compact center aligned inverted menu">
          <a class=" item" href="/"><h1>Home</h1></a>
          <a class="item" href="/rooms"><h1>Rooms</h1></a>
          <a class=" item"><h1>
          <i class="video camera icon"></i></h1>
          </a>
      </div>  
      </div> 
  
  
  </div>