<% include ./partials/header%>
  
        <div class="ui yellow inverted segment">
              <h1>Temperature</h1>
                    <div class="ui red progress" data-percent="<%=temp%>" id="temp">
                  <div class="bar"></div>
                  <div class="label"><h2><%=temp%> degree celcius</h2></div>
                  
                    </div>
                    
        </div>
        
        
        <div class="ui blue inverted segment">
              <h1>Humidity</h1>
                    <div class="ui teal progress" data-percent="<%=humid%>" id="humid">
                  <div class="bar"></div>
                  <div class="label"><%=humid%>%</div>
                    </div>
          
                    
        </div>       



                    
<% include ./partials/footer%>